body{
    background-color: #afcce6;  /*43637a*/
    
}
a{
    text-decoration: none;
    color: white;
    background-color: #43637a;
    text-align: center;
}
.nav_index{
    display: block;
    margin-top:35px;
    height: 100px;
    padding: 30px;
    margin:auto;
}


.nav_index a{
    font-size: x-large;
    width: 20%;
    height: 50%;
    line-height: 200%;
    border-radius: 20%;
}
.dx{
    float: right;
}
.sx{
    
    float: left ;
}
.cont_button{
    font-size:xx-large;
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    border-radius: 100%;
}

.form_login{
    background-color: #43637a;
    margin-top: 50px;
    margin: auto;
    width: 15%;
    height: 60%;
    text-align: center;
    padding:60px;
}
form{
    width: 100%;

}
input{
    margin: 10px;
    margin-top: 0;
    border-radius: 10%;
    border: none ;
    width: 100%;
    height: 10%;
    font-size: large;
}
label{
    margin: 10px;
    margin-bottom: 0;
    font-size: x-large;
    text-align: left;
    display: block;
}
button{
    margin-top: 10px;
    color: black;
    width: 50%;
    height: 10%;
    font-size: x-large;
    border-radius: 20%;
    border: none ;
}

.nav_admin{
    background-color: #43637a;
    width: 100%;
    height: 105px;
    margin-bottom: 10px;
}

.contain_admin{
    padding: 3;
    height: 30%;
}
.contain_admin img{
    position:absolute;
    right: 0;
}
.contain_admin a{
    padding: 20px ;
    margin: 50px;
    border-radius: 20%;
}
table,td,th,tr{
    border: solid black 3px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    
}
td,th,tr{
    
    padding: 5px;
    font-size:20px;
}
.contain_paziente{
    width: 100%;
    height: 20%;
}
.contain_paziente img{
    float: left;
}
.contain_paziente a{
    padding: 20px ;
    margin: 50px;
    border-radius: 20%;
}

.table_med{
    position: relative;
    width: 49%;
    overflow-y: auto;
    float: left;
    max-height: 60%;
}

.table_comp{
    position: relative;
    width: 49%;
    overflow-y: auto;
    float: right;
    max-height: 60%;
}

ul {
    font-size: xx-large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #43637a;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color:white;
    color:#43637a;
}

li a:hover:not(.active) {
    background-color: #afcce6;
    color: white;
}
div.stats{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}